.Bookigstable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    border: 1px solid lightgreen;
    padding: 10px;


}
.datasbookings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    border: 1px solid lightgreen;
    padding: 10px;
}
.bookingtext{
    /* color: darkblue; */
    font-weight: 600;
    /* font-size: 10px; */
}
.bookslist{
    height: 306px;
    overflow: scroll;
}
.booktabletitle{
    background-color: white;
    margin-top: 72px;
}
.fstname{
    font-weight: 599;
}
.green{
    /* color: green; */
}


@media only screen and (max-width: 900px) {
.bookingtext,.datasbookings{
text-size-adjust: auto;
font-size: 12px;
}


}
@media only screen and (max-width: 714px) {

    .Bookigstable{
    display: none;
}
.datasbookings{
    display: grid;
    grid-template-columns: none;
}

}